# ROS 2 Build Folders
build/
install/
log/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/flutterapp/build/
/coverage/

# Android Studio build artifacts
/flutterapp/android/app/debug
/flutterapp/android/app/profile
/flutterapp/android/app/release

# Flutter symbolication and obfuscation
app.*.symbols
app.*.map.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code Settings
.vscode/

# Xcode related (iOS)
**/ios/Runner.xcodeproj/project.pbxproj
**/ios/Runner.xcodeproj/xcshareddata/xcschemes/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.xcframework
*.xcworkspace
xcuserdata/

# Miscellaneous
*.class
*.log
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# System Junk
.DS_Store



flutterapp/.dart_tool/*